* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #1e1e1e;
  height: 100vh;
  width: 100vw;
}

.dashboard {
  background-color: #1e1e1e;
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: 2fr 2fr 2fr 4fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas:
    "categories sub-categories categories-chart-month categories-chart-year"
    "data calculation sub-categories-chart-month sub-categories-chart-year";
}

.calculation {
  background-color: #252526;
  grid-area: calculation;
  margin: 10px;
  /* padding: 20px; */
}

.data {
  background-color: #252526;
  grid-area: data;
  margin: 10px;
}

.categories {
  background-color: #252526;
  grid-area: categories;
  margin: 10px;
}
.categories-chart-month {
  background-color: #252526;
  grid-area: categories-chart-month;
  margin: 10px;
}
.categories-chart-year {
  background-color: #252526;
  grid-area: categories-chart-year;
  margin: 10px;
}
.sub-categories {
  background-color: #252526;
  grid-area: sub-categories;
  margin: 10px;
}

.sub-categories-chart-month {
  background-color: #252526;
  grid-area: sub-categories-chart-month;
  margin: 10px;
}

.sub-categories-chart-year {
  background-color: #252526;
  grid-area: sub-categories-chart-year;
  margin: 10px;
}

.date-wrapper {
  display: flex;
  justify-content: center;
}

.month-title {
  width: 80px;
}

.month-title,
.categories-chart-month-title,
.categories-chart-year-title,
.categories-title,
.sub-categories-title,
.sub-categories-chart-month-title,
.sub-categories-chart-year-title {
  text-align: center;
  color: #656565;
  margin: 10px;
  font-size: 1.2rem;
  text-transform: capitalize;
}

.month-arrow-left,
.month-arrow-right {
  color: #1e1e1e;
  font-size: 1rem;
  padding: 0 5px;
  background-color: darkorange;
  border-radius: 2px;
  border: none;
}

.categories-items {
  display: flex;
  flex-wrap: wrap;
  padding: 3px;
  justify-content: center;
}

.sub-categories-items {
  display: flex;
  flex-wrap: wrap;
  padding: 3px;
  justify-content: center;
}

.category-item {
  width: 70px;
  height: 70px;
  margin: 3px;
  background-color: #1e1e1e;

  display: flex;
  justify-content: center;
  align-items: center;
}

.sub-category-item {
  width: 70px;
  height: 70px;
  margin: 3px;
  background-color: #1e1e1e;

  display: flex;
  justify-content: center;
  align-items: center;

  display: none;
}

.categories-chart-month-board,
.sub-categories-chart-month-board {
  position: relative;
}

.category-item > i {
  color: #656565;
  /* font-size: 2.5rem; */
  font-size: 1.5rem;
  pointer-events: none;
  text-shadow: 1px 1px 2px darkorange;
}

.sub-category-item > i {
  color: #656565;
  font-size: 1.5rem;
  pointer-events: none;
  text-shadow: 1px 1px 2px darkorange;
}

#catMonthChart,
#subCatMonthChart {
  margin: 20px;
}

.expenditure {
  position: absolute;
  color: rgba(255, 99, 132, 1);
  font-size: 2rem;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
}

.input-expenses-form {
  justify-content: center;
  margin-top: 10px;
  display: flex;
}

.input-expenses {
  height: 2rem;
  max-width: 200px;
  margin: 10px;
  border-radius: 5px;
}

.input-expenses-btn {
  margin: 10px;
  display: block;
  border: solid 2px darkorange;
  border-radius: 5px;
  background-color: #252526;
  width: 2rem;
  height: 2rem;
  font-size: 1.2rem;
  color: darkorange;
}

.expenses-save-btn {
  margin: 10px;
  display: block;
  border: solid 2px darkorange;
  border-radius: 5px;
  background-color: #252526;
  width: 2rem;
  height: 2rem;
  font-size: 2rem;
  color: darkorange;
}

.clear-all-data-btn {
  margin: 10px;
  display: block;
  border: solid 2px rgb(110, 27, 27);
  border-radius: 5px;
  background-color: #252526;
  width: 2rem;
  height: 2rem;
  font-size: 1.2rem;
  color: rgb(110, 27, 27);
}

/*limits*/
.limits {
  justify-content: center;
  margin-top: 10px;
  /* display: flex; */
}

.current-limit {
  color: #fff;
  font-size: 1.2rem;
  text-align: center;
  color: #656565;
}

.limit-wrapper {
  display: flex;
  justify-content: center;
}

.current-limit-input {
  height: 2rem;
  max-width: 200px;
  margin: 10px;
  border-radius: 5px;
}

.current-limit-btn {
  margin: 10px;
  display: block;
  border: solid 2px darkorange;
  border-radius: 5px;
  background-color: #252526;
  width: 2rem;
  height: 2rem;
  font-size: 1.2rem;
  color: darkorange;
}

.clear-limit-btn {
  margin: 10px;
  display: block;
  border: solid 2px rgb(110, 27, 27);
  border-radius: 5px;
  background-color: #252526;
  width: 2rem;
  height: 2rem;
  font-size: 1.2rem;
  color: rgb(110, 27, 27);
}

.statistics-title-most-spent-on,
.statistics-title-most-spent-in {
  text-align: center;
  color: darkorange;
  margin: 10px 0 10px 0;
  font-size: 1.2rem;
  text-transform: capitalize;
}

.statistics-title {
  text-align: center;
  color: #656565;
  margin: 10px 0 10px 0;
  font-size: 1.2rem;
  text-transform: capitalize;
}

/* MEDIA*/
@media screen and (max-width: 992px) {
  body {
    background-color: #1e1e1e;
  }
  .dashboard {
    background-color: #1e1e1e;
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-areas:
      "categories sub-categories categories-chart-month"
      "categories-chart-year categories-chart-year categories-chart-year"
      "data calculation sub-categories-chart-month"
      "sub-categories-chart-year sub-categories-chart-year sub-categories-chart-year";
  }
}
